# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# pyenv
.python-version

# LICENSE
LICENSE